/* Reset styling and apply better global typefaces */
html, body {
    color: #111;
    font-family: Open Sans, Helvetica, Arial;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/* Make the body element centered */
body {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 60rem; /* I'm fond of using rem, because it scales well across devices */
}

/* The main header */
body > h1 {
    margin: 2rem 0;
    text-align: center;
    border-bottom: 1px solid #222;
}

/*
 * Default Styles For Various Elements
 */

button {
    padding: 0.3rem 0.5rem;
    margin-right: 0.4rem;

    background: #E6EBF7;
    border: 1px solid #B7BEF0;
    border-radius: 3px;

    cursor: pointer;
    transition: background 40ms;
}
button:hover {
    background: #D5DEF0;
}
button:active {
    background: #C1D6EE;
}
button:focus {
    outline: none;
    border-color: #3C50DF;
}

input[type=number] {
    padding: 0.2rem 0.4rem;

    color: #444;
    border: 1px solid #333;
    border-radius: 3px;
}

input[type=number]:focus {
    outline: none;
    border-color: #4796CF;
    box-shadow: 0 1px 2px #ccc;
}

/* 
 * Chart
 */
#chart {
    min-height: 20rem;
}


/* Each row of interactive elements */
.row {
    min-height: 5rem;
    margin: 1rem;
    padding: 1rem;
    background: #FCFCFF;
    border-radius: 6px;
    border: 1px solid #DDDFF4;
    box-shadow: 0 2px 4px #DADADA;
}

h3 small {
    color: #BFBFBF;
}

/*
 *
 * Curvetypes Selection Row
 *
 */

#curvetypes .labels {
    display: flex;
    margin: 2rem 0;
    flex-wrap: wrap;
    flex-direction: row;
}

.curvetype--toggle {
    display: none;
}

.curvetype {
    display: flex;
    padding: 1.2rem;
    margin: 0.2rem;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center; /* Vertical centering for the name */

    background: #ececec;
    color: #5a5a5a;
    font-family: monospace;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 2px 4px #cac3c3;

    cursor: pointer;
}

.curvetype.selected {
    background: #f7f7f7;
    color: #111;
    box-shadow: 0 1px 3px 2px #7a72bd;
}

.curvetype--args {
    margin-top: 0.6rem;
    text-transform: capitalize;
}

.curvetype--args label {
    margin: 0 0.4rem;

    cursor: pointer;
}

.curvetype--args input {
    max-width: 4rem;
}

/*
 *
 * Dataset Row
 *
 */

#datasets {
    display: flex;

    overflow-x: auto;
}

.dataset {
    min-width: 130px;
    margin: 2rem 1rem;
    padding: 1rem;

    background: #F0F1FB;
    border: 1px solid #DADCEB;
    border-radius: 3px;
    box-shadow: 0 3px 6px 1px #E6E6E6;

    transition: border 200ms;
}

.dataset.selected {
    border-color: #444E7B;
    box-shadow: 0 1px 2px #A8A8A8;
}

.dataset svg {
    background: #FAFAFA;
    border-radius: 4px;
    border: 1px solid #aaa;
}

.dataset svg circle {
    fill: #2393CF;
}

.dataset--info h4 {
    margin: 0.5rem 0;
}

.dataset--info .dataset--arg-group {
    min-height: 7rem;
}

.dataset--info .dataset--arg {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0;
}

.dataset--info .dataset--arg label {
    margin: 0 0.3rem 0 0;

    font-size: 75%;

    text-transform: capitalize;
    cursor: pointer;
}

.dataset--info input[type=number] {
    max-width: 4rem;
}

.dataset--info .dataset--select {
    margin-top: 0.4rem;
    width: 100%;
}

/*
 *
 * Settings Row
 *
 */

#settings {
    display: flex;
}

.settings--control {
    margin-top: 0.6rem;
    margin-right: 1rem;
}

.settings--control label {
    font-size: 90%;

    cursor: pointer;
}

.settings--control input[type=checkbox] {
    vertical-align: middle;
    margin: 0 0.4rem;

    cursor: pointer;
}

/* Footer with author name and shoutouts */
footer {
    margin: 2rem 0;
    font-size: 0.8rem; /* 80 percent of body font size */
    color: #C5C5C5;
}

footer a {
    color: #60CCDF;
}
